
.navbar {
    
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; 
    background-color: #f8f9fa; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbarList ul {
    list-style: none; 
    padding: 0; 
    display: flex; 
    font-size: 12px;
    color: hsl(0, 0%, 41%);
    font-weight: 400;
    gap: 30px; 
    border: none;
    align-items: center;
}
.navbarList ul:hover{
    color: hsl(0, 0%, 1%);
    cursor: pointer;
}
.navbarList {
    display: flex;
    align-items: center;
    
    flex-grow: 1;
    
}

.navButton {

    display: flex; 
    justify-content: flex-end;
    align-items: center;
    gap: 10px; 
    font-size: 12px;
    color: hsl(0, 0%, 41%);
    font-weight: 400;
    border-radius: 5px;
    margin-left: auto;
    
}
.loginBtn{
    border: none;
    width: 100%;
    gap: 5rem;
    border-radius: 5px;
    color: hsl(0, 0%, 41%);
}
    
.regBtn {
   border-radius: 5px;
   border: 1px solid black;
   color: hsl(0, 0%, 41%);}

button {
    padding: 10px 20px; /* Padding for button */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    
    transition: background-color 0.3s, transform 0.2s; /* Smooth transition for hover effects */
}


button:hover {
    transform: scale(1.05); /* Slightly enlarge button on hover */
}

.loginBtn button:hover {
    color: hsl(0, 0%, 8%);
}

.regBtn button:hover {
    color: hsl(0, 0%, 8%);
}
.logo h1 {
    margin: 0; 
    margin-right: 20px; 
    font-size: 32px;
    font-weight: 700;
}
.custom-dropdown {
    position: relative;
    display: inline-block;
    align-items: center;
    
}

.dropdown-button {
    border: none;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    color: hsl(0, 0%, 41%);
    text-align: center;
    font-size: 12px;
    
}

.dropdown-options {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; 
    z-index: 1;
    display: none; 
    padding: 10px 0;
    
}

 .dropdown-options,
.dropdown-options:hover {
    display: block; 
    
    
} 
.dropdown-button:hover{
    color: hsl(0, 0%, 8%);
}

.dropdown-option {
    padding: 10px 10px;
    cursor: pointer;
    display: flex;
    align-items: center; 
}

.dropdown-option:hover {
    background-color: #e0e0e0; 
}

.menu {
    display: flex;
}

.menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-right: 20px;
    position: relative; 
}

.menuIcon {
    display: none; 
    cursor: pointer;
}



.loginBtn, .regBtn {
    margin-left: 10px;
}
.mobile-menu{
    display: none;
}



/* Responsive Styles */
@media (max-width: 768px) {
    .menu {
        display: none; /* Hide menu by default */
        flex-direction: column; /* Stack items vertically */
        position: absolute; /* Position menu */
        top: 60px; /* Adjust as needed */
        left: 0;
        background-color: white;
        width: 100%;
        border: 1px solid #ccc;
        z-index: 1000;
        padding: 1rem;
    }

    .menu.open {
        display: flex; 
    }

    .menuIcon {
        display: block; 
        justify-content: flex-end;
        margin-left: auto;

        
    }

    .navbar ul{
        display: none;
        
    }
    .menu ul{
        display: flex;
        flex-direction: column;
    }
    .navButton{
        display: none;
    }

    .mobile-menu{
        display: block;
    }
}


